/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__input_task,
.main__label_task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.main__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
.main__task-item, 
.main__title {
  list-style: none;
}
input, 
.main__button{
  outline: none;
}
.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main__button:hover {
  color: #3a3a3a;
}
/* Heading */
.main__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main__input:focus {
  color: #333;
}

/* New Task */
.main__title_big {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.main__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__task-item > * {
  vertical-align: middle;
}

.main__task-item > .main__checkbox {
  margin: 0 10px;
}
.main__task-item > .main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main__task-item >    .main__input {
  width: 226px;
}
.main__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.main__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main__completed-tasks .main__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main__task-item .main__input {
  display: none;
}

.main__task-item_edit-mode .main__input {
  display: inline-block;
  width: 224px;
}

.main__task-item_edit-mode .main__label {
  display: none;
}